{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>P3 Coloring</title>

	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'coloring/vendors/bootstrap/css/bootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'coloring/css/style.css' %}" />


	<style type="text/css">

	</style>

	<script type="text/javascript" canvas="canvas">
		window.onload = function() {
			var canvas = document.getElementById('myCanvas');

			// coloring page
			var mandala = {
				item: null,
				lastClicked: null,
				filePath: "{% static 'coloring/images/mandala-freepik.svg' %}"
			};

			// color palette
			var cp = {
				history: ["#000000"], // black selected by default
				options: [],
				$container: $('#color-palette')
			}

			function myCustomInteraction() {
				var tool = new paper.Tool();

				tool.onMouseDown = function (event) {
				    var hit = mandala.item.hitTest(event.point, { tolerance: 10, fill: true });
				    if (hit) {
				    		// Color pallette keeps track of the full history of colors, though we
				    		// only color in with the most-recent color.
				        hit.item.fillColor = cp.history[cp.history.length - 1];
				    }
				}
			}

			// create a color palette with the given colors
			function createColorPalette(colors){
        var tool = new paper.Tool();
				// create a swatch for each color
				for (var i = colors.length - 1; i >= 0; i--) {
					var $swatch = $("<div>").css("background-color", colors[i])
									   .addClass("swatch");
					$swatch.click(function(){

            // add color to the color palette history
					  cp.history.push($(this).css("background-color"));
            console.log($(this).css("background-color"));

            var rec = new paper.Path.Rectangle(4, 702, 744, 100);

            rec.fillColor = new paper.Color({
              // ~ your gradient fill specification here (e.g., between white and last picked color) ~
                  gradient: {
                      stops: [cp.history[cp.history.length-1], 'white']
                  },
                  origin: (4,702),
                  destination: (744,100)
            });

            rec.onMouseDown = function (event) {
              //~ your code for picking a color from the rectangle here (basically the same as your code except multiply x by two & y by two) ~
              var ctx = canvas.getContext("2d");
              var x = (event.point.x) * 2;
              var y = (event.point.y) * 2;
              // console.log(event.point.x);
              // console.log(event.point.y);

              const imgData = ctx.getImageData(x, y, 1, 1);
              const [r, g, b] = imgData.data;
              console.log([r,g,b])
              console.log("#" + ((1 << 24) + (r << 16) + (g << 8) + b).toString(16).slice(1));
              cp.history.push("#" + ((1 << 24) + (r << 16) + (g << 8) + b).toString(16).slice(1));
            }


            // make gradient
            // var ctx = canvas.getContext("2d");
            // var grd = ctx.createLinearGradient(0, 0, 600, 0);
            // grd.addColorStop(0, "white");
            // grd.addColorStop(1, cp.history[cp.history.length-1]);
            // ctx.fillStyle = grd;
            // ctx.fillRect(4, 702, 744, 100);
            
            // choose gradient color
            // tool.onMouseDown = function (event) {
            //   var x = event.point.x;
            //   var y = event.point.y;
            //   // console.log(event.point.x);
            //   // console.log(event.point.y);
            //   const imgData = ctx.getImageData(x, y, 1, 1);
            //   const [r, g, b] = imgData.data;
            //   console.log([r,g,b])
            //   console.log("#" + ((1 << 24) + (r << 16) + (g << 8) + b).toString(16).slice(1));
            //   cp.history.push("#" + ((1 << 24) + (r << 16) + (g << 8) + b).toString(16).slice(1));
            // }
					});
					cp.$container.append($swatch);
				}
			}

			// loads a set of colors from a json to create a color palette
			function getColorsCreatePalette(){
				cp.$container.html(" ");
				$.getJSON("{% static 'coloring/vendors/material/material-colors.json' %}", function(colors){
					var keys = Object.keys(colors);
					for (var i = keys.length - 1; i >= 0; i--) {
						cp.options.push(colors[keys[i]][500]);
					}
					createColorPalette(cp.options);
				});
			}

			function init(custom){
				paper.setup(canvas);
				getColorsCreatePalette();

				paper.project.importSVG(mandala.filePath, function(item) {
					mandala.item = item._children["design-freepik"];
				    paper.project.insertLayer(0,mandala.item);

				    if (custom) {
				    	myCustomInteraction();
				    } else {
				    	myGradientInteraction();
				    }
				});
			}
			init(true);
		}
	</script>
</head>
<body>

	<canvas id="myCanvas" width="750px" height="750px"></canvas>
	<div id="color-palette"></div>

  <!-- Color rectangle -->
  <!-- <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-sm" id="red" align="center">
            <p> &nbsp; </p>
            <p> &nbsp; </p>
          </div>
          <div class="col-sm" id="orange" align="center">
            <p> &nbsp; </p>
          </div>
          <div class="col-sm" id="yellow" align="center">
            <p> &nbsp; </p>
          </div>
          <div class="col-sm" id="green" align="center">
            <p> &nbsp; </p>
          </div>
          <div class="col-sm" id="blue" align="center">
            <p> &nbsp; </p>
          </div>
          <div class="col-sm" id="purple" align="center">
            <p> &nbsp; </p>
          </div>
          <div class="col-sm" id="black" align="center">
            <p> &nbsp; </p>
          </div> 
        </div> 
      </div>  -->
      <!-- <div class="col-sm" id="red">
        <div class="row"></div>
        
      </div>
      <div class="col-sm" id="orange">
       <div class="row"></div>
       
      </div>
      <div class="col-sm" id="yellow">
       <div class="row"></div>
       
      </div>
      <div class="col-sm" id="green">
       <div class="row"></div>
       
      </div>
      <div class="col-sm" id="blue">
       <div class="row"></div>
       
      </div>
      <div class="col-sm" id="purple">
       <div class="row"></div>
       
      </div>
      <div class="col-sm" id="black">
       <div class="row"></div>
       
     </div> -->
    </div>
  </div>
  
</body>
</html>
